<div class="card">
  <%= link_to "ブランドの名前", root_path, class: :card__title%>
  <div class="card__body">
    <%= link_to "商品の名前", root_path, class: :card__title%>
    <div class="card__body">
    <%= link_to "商品のカテゴリー", root_path, class: :card__title%>
    <div class="card__body">
    <div class="card__body">
    <%= link_to "価格", root_path, class: :card__title%>
    <div class="card__body">
    <%= link_to "by 投稿者名", root_path, class: :card__user %>
  </div>
</div>